Loop Statements while loop for loop nested loop loop controls( break continue pass

In [1]:
123

123

In [6]:
joining_age = 25
retirement_sum = 0
while joining_age <= 60:
    joining_age =  joining_age +1;
    retirement_sum = retirement_sum + 8000
    print(f"if i work till  :{joining_age} years age then i will get {retirement_sum} as retirement amouny")
else:
    print(f" {joining_age} is time for retirement")

if i work till  :26 years age then i will get 8000 as retirement amouny
if i work till  :27 years age then i will get 16000 as retirement amouny
if i work till  :28 years age then i will get 24000 as retirement amouny
if i work till  :29 years age then i will get 32000 as retirement amouny
if i work till  :30 years age then i will get 40000 as retirement amouny
if i work till  :31 years age then i will get 48000 as retirement amouny
if i work till  :32 years age then i will get 56000 as retirement amouny
if i work till  :33 years age then i will get 64000 as retirement amouny
if i work till  :34 years age then i will get 72000 as retirement amouny
if i work till  :35 years age then i will get 80000 as retirement amouny
if i work till  :36 years age then i will get 88000 as retirement amouny
if i work till  :37 years age then i will get 96000 as retirement amouny
if i work till  :38 years age then i will get 104000 as retirement amouny
if i work till  :39 years age then i will get 112000 as retirement amouny
if i work till  :40 years age then i will get 120000 as retirement amouny
if i work till  :41 years age then i will get 128000 as retirement amouny
if i work till  :42 years age then i will get 136000 as retirement amouny
if i work till  :43 years age then i will get 144000 as retirement amouny
if i work till  :44 years age then i will get 152000 as retirement amouny
if i work till  :45 years age then i will get 160000 as retirement amouny
if i work till  :46 years age then i will get 168000 as retirement amouny
if i work till  :47 years age then i will get 176000 as retirement amouny
if i work till  :48 years age then i will get 184000 as retirement amouny
if i work till  :49 years age then i will get 192000 as retirement amouny
if i work till  :50 years age then i will get 200000 as retirement amouny
if i work till  :51 years age then i will get 208000 as retirement amouny
if i work till  :52 years age then i will get 216000 as retirement amouny
if i work till  :53 years age then i will get 224000 as retirement amouny
if i work till  :54 years age then i will get 232000 as retirement amouny
if i work till  :55 years age then i will get 240000 as retirement amouny
if i work till  :56 years age then i will get 248000 as retirement amouny
if i work till  :57 years age then i will get 256000 as retirement amouny
if i work till  :58 years age then i will get 264000 as retirement amouny
if i work till  :59 years age then i will get 272000 as retirement amouny
if i work till  :60 years age then i will get 280000 as retirement amouny
if i work till  :61 years age then i will get 288000 as retirement amouny
 61 is time for retirement

In [9]:
#Bank atm
total_amt = 1000
while total_amt != 0:
    print(total_amt)
    total_amt = total_amt -100
else:
    print("poisa bhor")

1000
900
800
700
600
500
400
300
200
100
poisa bhor

In [74]:
fruits_list = ["Mango","cherry","apple","banana","papaya"]
for x in fruits_list:
    print(x)  
    if x == "cherry":
        print("Mango found  fruit is",x)
        break;

Mango
cherry
Mango found  fruit is cherry

In [77]:
valye =  "Mango"
for x in valye:
     print(x , end="")

Mango

In [ ]:
range()

In [81]:
for i in range(1,10,3):
     print(i)

1
4
7

In [110]:
n= 7;
for i in range(0,n):
    for j in range(0,i+1):
         print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

In [111]:
fruits_list = ["mango","cherry","apple","banana","papaya"]

In [121]:
for i in fruits_list:
    print(i)
    if i=="apple":
        print("apple found")
        pass

mango
cherry
apple
apple found
banana
papaya